@model List<Board>
@{
    string svgDataUri = string.Empty;
}

<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
</style>

<div class="container">
    <h2 class="mt-2">Collaborative Drawing Board <span class="text-muted"> -saikat8486@gmail.com</span></h2>
    <div class="row">
        <div class="mt-2 d-inline-flex">
            <button class="btn btn-success" id="btnCreateNew"><i class="bi bi-plus-square"></i> Start New board</button>
        </div>
    </div>


    @if (Model != null && Model.Count() > 0)
    {
        <div class="d-flex flex-column align-items-center mt-3">
            <h5>Existing boards</h5>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-4 d-flex justify-content-center">
                <table class="table table-bordered border-secondary">
                    <tbody>
                        @foreach (var board in Model)
                        {
                            <tr>
                                <td>
                                    <a href="/board/@board.BoardId" class="text-decoration-none">
                                        @if (board.SvgData != null && board.SvgData.Length > 0)
                                        {
                                            var svgDataBase64 = Convert.ToBase64String(board.SvgData);
                                            svgDataUri = $"data:image/svg+xml;base64,{svgDataBase64}";
                                        }
                                        else
                                        {
                                            svgDataUri = "https://placehold.co/240x150/white/white";
                                        }
                                        <img src="@svgDataUri" alt="Board SVG" width="240" height="150" />
                                        &nbsp; Drawing @board.BoardId
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column align-items-center mt-lg-4">
            <h5>No existing boards!</h5>
        </div>
    }
</div>

<script>

    $('#btnCreateNew').click(function () {
        $.ajax({
            url: "/board/create",
            type: "POST",
            success: function (response) {
                if (response.success) {
                    toastr.success("New board created!");
                    window.location.href = "/board/" + response.boardId;
                }
                if (!response.success) {
                    toastr.error("Server error! Try again later");
                }

            },
            error: function (error) {
                console.log(error);
            }
        });
    });

</script>